# Python-related
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.DS_Store

# Virtual environment
venv/
env/

# Django-related
db.sqlite3
*.log
media/
staticfiles/
*.pot

# Migrations (optional, if you regenerate them frequently)
*/migrations/*.pyc
*/migrations/*.py

# IDE/editor files
.vscode/
.idea/
*.iml

# Environment variables & secrets
.env
.envrc
config/settings/local.py
config/.env
